/* HSStyle.qss */

QWidget {
    background-color: #ffffff;
}

#titleLabel {
    font-family: "Roboto";
    font-size: 40px;
    font-weight: bold;
    
}

#l1 {
    font-family: "Roboto";
    font-size: 16px;
}

#getStartedButton {
    font-family: "Roboto";
    font-weight: bold;
    background-color: #000000;
    color: #ffffff;
    border-radius: 8px;
}
